vendor/
.idea/
.vagrant/

.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.env
composer.lock

Homestead.yaml
Vagrantfile
aliases
after.sh
*jira-agile-rest-client.log
*jira-api-rest-client.log
*jira-greenhopper-rest-client.log
